/*--------------general-------------------------*/
body {
    font-family: 'Roboto';
    color: #1C2122;
    margin: 0;
  }
  


a {
    color: #0563bb;
    text-decoration: none;
    text-decoration-line: underline;
  }
  
a:hover {
    color: #067ded;
    text-decoration: none;
  }



h1{
  font-family: 'Anton';
  font-size: 60px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 40px;
  }
}

h2{
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: bold;
}

h4{
  font-family: 'Roboto';
  font-size: 19px;
  font-weight: bold;
}

p{
  font-family: 'Roboto';
  font-size: 17px;
}


* {
  box-sizing: border-box;
}

/*--------------section-------------------------*/
.sectionBlock {
  margin:160px auto 0 auto;
}

@media screen and (max-width: 600px) {
  .sectionBlock {
    margin:120px auto 0 auto;
  }
}


/*--------------portfolio-------------------------*/
.circleRegion {
  width:65vw;
  height:240vw;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .circleRegion {
    width:90vw;
    height:250vw;
    margin: auto;
  }
}


/*-------------- Navigation Menu-------------------------*/
.nav-menu {
  padding: 0;
  display: block;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.active-nav{
  width: 100% !important;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-family: 'Anton';
  font-size: 20px;
  border-radius: 50px;
  height: 60px;
  width: 60px;
  overflow: hidden;
  transition: 0.3s;
}

.nav-menu a span,
.nav-menu a:focus span {
  padding: 0 5px 0 7px;
  color: #1C2122;
}


.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
  color: #F6F5E8;
}


.nav-menu a:hover{
  width: 100%;
}


/*-----------# Skills-----------*/
.progressContainer {
  width: 360px;
  height: 12px;
  border-radius: 25px;
  background: #DBEBEA;
  margin: 0;
  padding:0;
}

.progressBar {
  height: inherit;
  border-radius: 25px;
  background:linear-gradient(90deg,#00FC28, #05dada);
  margin: 0;
  padding:0;
}

.skillName{
  font-family: 'Comfortaa';
  font-size: 13px;
  color: #1C2122;
  font-weight: bolder;
  margin-bottom: 8px;
}

.skillContainer{
  padding: 6px;;
  margin: 0 24PX 24px 40px;
}

.skillTypeName{
  font-family: 'Anton';
  font-size: 24px;
  color:#DBEBEA;
  text-align: left;
  width:90%;
  padding-left:8vw;
  margin:32px auto 8px auto;
}

.skillBlock{
  display: flex;
  flex-direction: row;
  text-align: left; 
  width:100%; 
  height:auto; 
  margin:auto;
  padding:0;
  margin:0 48px 0 0;
}

.skillRow{
  width:70%; 
  height:auto; 
  margin:0 0 0 10vw; 
  padding:0;
}

@media screen and (max-width: 900px) {
  .skillBlock{
    flex-direction: column;
  }
  .skillTypeName{
    text-align: center;
    padding:0;
  }

}

/*-----------Contact-----------*/
.contactInfo {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 600px) {
  .contactInfo {
    display: flex;
    flex-direction: column;
  }
}

.contactItem{
  width:320px; 
  height: 100px; 
  margin: auto;
}

.contactIcon{
  width:90px;
  float:left;
  padding: 18px;
}

/*-----------About-----------*/
.aboutText{
  width:50%;
  padding:0 8px 0 8px;
  margin: 0 48px 0 48px;
  border-left: #589F4F;
  border-width: 6px;
  border-left-style:dotted;
}
.aboutColumn{
  display: flex;
  flex-direction: row;
  text-align: left; 
  width:60%; 
  height:auto; 
  margin:0 auto 0 auto;
  padding:0 auto 0 auto;
}
@media screen and (max-width: 800px) {
  .aboutColumn{
    width:100%;
    flex-direction: column;
  }
  .aboutText{
    width:80%;
    margin: 40px auto 0 auto;
  }
}

/*-----------Resume-----------*/
.resumeHead{
  color: #3548F9;
  margin: 24px auto 0 0;
  padding:0;
}
.resumeColumn{
  position:relative;
  width:50%;
  left:0;
  margin:0;
  padding:0;
}

.yearText{
  font-family: 'Roboto';
  font-size: 14px;
  font-weight:bold;
  margin:24px auto 0px 0;
  padding:0;
  color: #646776;
}

.secondHead{
  margin: 38px auto 0 0;
  padding:0;
}

.leftborder{
  width:24px; 
  height:100%; 
  position:absolute; 
  top:0; 
  left:0px; 
  padding:0; 
  margin:0; 
}

.resumeList{
  margin:8px auto 0 18px;
  padding:0;
}

.resumeSection{
  display: flex;
  flex-direction: row;
  text-align: left; 
  width:75%; 
  height:auto; 
  margin:auto;
  padding:0;
}
@media screen and (max-width: 800px) {
  .resumeSection{
    flex-direction: column;
  }
}


/*-----------Animation-----------*/
@keyframes laImage1{
  0%   {top:15vw; left:1vw;}
  100% {top:12vw; left:-2vw;}
}

@keyframes laImage2{
  0%   {top:14vw; left:21vw;}
  100% {top:17vw; left:24vw;}
}

@keyframes laImage3{
  0%   {top:11vw; left:9vw;}
  100% {top:7vw; left:9vw;}
}

@keyframes laImage4{
  0%   {top:20vw; left:12vw;}
  100% {top:23vw; left:12vw;}
}


@keyframes laImage1-1{
  0% {top:12vw; left:-2vw;}
  100%   {top:15vw; left:1vw;}
}

@keyframes laImage2-1{
  0% {top:17vw; left:24vw;}
  100%   {top:14vw; left:21vw;}
}

@keyframes laImage3-1{
  0% {top:7vw; left:9vw;}
  100%   {top:11vw; left:9vw;}
}

@keyframes laImage4-1{
  0% {top:23vw; left:12vw;}
  100%   {top:20vw; left:12vw;}
}

.laImage{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-duration: 1s;
  animation-fill-mode: forwards;
}


