@font-face {
 font-family: 'Jua-Regular';
 src: url('../fonts/Jua-Regular.ttf') format('truetype');
}
@font-face {
 font-family: 'Comfortaa-SemiBold';
 src: url('../fonts/Comfortaa-SemiBold.ttf') format('truetype');
}
@font-face {
 font-family: 'Comfortaa-Bold';
 src: url('../fonts/Comfortaa-Bold.ttf') format('truetype');
}


h3{
 font-family: 'Jua-Regular';
 font-size: 24px;
 text-align: left;
 margin-bottom: 0;
 color: #E9C300;
}
h2{
 font-family: 'Jua-Regular';
 font-size: 32px;
 text-align: left;
 font-weight: 200;
 color: #000;
 padding-top:56px;
}

p{
 font-family: 'Comfortaa-SemiBold';
 font-size: 18px;
 line-height:1.5;
}

.keyword{
 font-family: 'Jua-Regular';
 font-size: 40px;
 text-align: left;
 font-weight: 240;
 padding:1vw 0 0 0;
 color: #E9C300;
}
.keynumber{
 font-family: 'Comfortaa-Bold';
 font-size: 22px;
 color: #C76360;
}

li{
 font-family: 'Comfortaa-SemiBold';
 font-size: 18px; 
 line-height:1.5;  
 padding:0 0 0.5vw 0;
 margin:0;
}
.navFont{
  font-size:13px;
  line-height:0.6;  
}
.bold{
 font-family: 'Jua-Regular';
 font-size: 24px; 
}

.bannerImageTop{
    animation-name:bannerImageTop;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes bannerImageTop {
    0%   {top:-15vw;opacity:0;}
    100% {top:0;opacity:1;}
}

.bannerImageLeft{
    animation-name:bannerImageLeft;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes bannerImageLeft {
    0%   {left:-20vw;opacity:0;}
    100% {left:0;opacity:1;}
}

.bannerImageRight{
    animation-name:bannerImageRight;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes bannerImageRight {
    0%   {right:-20vw;opacity:0;}
    100% {right:0;opacity:1;}
}

.bannerInfo {
    display: flex;
    flex-direction: row;
    height:8vw;
}

@media screen and (max-width: 800px) {
    .bannerInfo {
      display: flex;
      flex-direction: column;
      height:60vw;
    }
}
  
.bannerItem{
    width:320px; 
    height: 100px; 
    margin: auto;
    z-index: 20;
}

.twoColumn {
    display: flex;
    flex-direction: row;
}
.twoColumChild{
    width:50%;
} 

@media screen and (max-width: 600px) {
    .twoColumn {
      display: flex;
      flex-direction: column;
    }
    .twoColumChild{
        width:100%;
    } 
}

/* unvisited link */
a:link {
    color: #522E31;
  }
  
  /* visited link */
  a:visited {
    color: #522E31;
  }
  
  /* mouse over link */
  a:hover {
    color: #FF7717;
  }
  
  /* selected link */
  a:active {
    color: #522E31;
  }

  .Title{
    width: 100%; 
    height:auto; 
    margin:12vw auto auto auto;
  }

.SectionBlock{
    width: 80%; 
    height:auto; 
    margin:auto;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card-container img {
    width: 80%;
    height: auto;
    margin:auto;
  }
  
  .buttonLeft {
    width: 40px; 
    height: 40px;
    background-image: url("../images/BunnyMood/buttonLeft.png"); 
    background-size: cover; 
    border: none; 
    cursor: pointer;
    background-color:transparent;
    display:none;
  }

  .buttonRight {
    width: 40px; 
    height: 40px;
    background-image: url("../images/BunnyMood/buttonRight.png"); 
    background-size: cover; 
    border: none; 
    cursor: pointer;
    background-color:transparent;
  }
  
.verticalCenter{
    display:flex;
    align-items:center;
    justify-content:center;
}

.gallery {
  column-gap: 2vw; 
  column-count: 3; 
}

.gallery img {
  width: 100%; 
  margin-bottom: 1vw; 
}

