@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal italic; 
}

@font-face {
  font-family: 'LB-Regular';
  src: url('../fonts/LibreBaskerville-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'LB-Bold';
  src: url('../fonts/LibreBaskerville-Bold.ttf') format('truetype');
}

/*--------------general-------------------------*/
html, body {
    color: #333333;
    margin: 0 auto;
    padding: 0 1vw;
    overflow-x: hidden;
    width: 100%;
    max-width: 1600px; 
  }

html, section{
  padding:32px 0;
}

/* 修改滚动条上的滑块的样式 */
::-webkit-scrollbar-thumb {
  display:none;
}

/* 修改滚动条上的滑轨的样式 */
::-webkit-scrollbar-track {
  display:none;
}

* {
  box-sizing: border-box;
}

/*--------------Text-------------------------*/
h1{
  font-family: 'Inter';
  font-size: 40px;
  font-weight: 560;
  padding:0;
  margin:16px 0;
  line-height: 1.2;
}

h2{
  font-family: 'Inter';
  font-size: 23px;
  font-weight: 560;
  padding:0;
  margin:16px 0;
  line-height: 1.3;
}

h3{
  font-family: 'LB-Regular';
  font-size: 16px;
  font-weight: 480;
  padding:0;
  margin:0;
  line-height: 1.6;
}

h4{
  font-family: 'LB-Regular';
  font-size: 14px;
  font-weight: 420;
  padding:0;
  margin:0;
  line-height: 1.6;
}


p{
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 400;
  padding:0;
  margin:0;
  line-height: 1.3;
}

a {
  text-decoration: none;
  color: inherit;
}

.projectInfo{
  color:grey;
}

/*--------------video-------------------------*/
video {
  width: 100%; /* 视频占满容器宽度 */
  height: auto; /* 保持视频的比例 */
  display: block;/* 移除视频元素默认的内边距空隙 */
}

.video-container {
  position: relative; /* 确保内容可以覆盖视频 */
  width: 100%;
  overflow: hidden; /* 隐藏超出 div 的视频部分 */
}

/*--------------layout-------------------------*/
/* 使用一行布局 */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(520px, 1fr));
  width: 100%; 
  gap: 8px;
  justify-content: flex-start; 
}
.item {
  min-width: 520px;  /* 项目的最小宽度 */
  max-width: 1000px;  /* 项目的最大宽度 */
  padding: 0;
  margin: 0px; 
  position: relative;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}
/*--------------project cover-------------------------*/
.project-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6); /* 半透明背景 */
  opacity: 0; /* 初始时不可见 */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: opacity 0.3s ease-in-out;
}

.project-info:hover{
  opacity: 1; /* 鼠标悬浮时显示标题和介绍 */
}
