@font-face {
    font-family: 'Abril Fatface';
    src: url('../fonts/AbrilFatface-Regular.ttf') format('truetype');
  }
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  }

body {
    font-family: 'Roboto-Regular';
    color: #1C2122;
    margin: 0;
  }
  
a {
    color: #0563bb;
    text-decoration: none;
    text-decoration-line: underline;
  }
  
a:hover {
    color: #067ded;
    text-decoration: none;
  }



h1{
  font-family: "Abril Fatface";
  font-size: 36px;
  letter-spacing: 1px;
  color: #0048EE;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 40px;
  }
}

h2{
  font-family: 'Montserrat';
  font-size: 32px;
  font-weight: bold;
  color: #0048EE;
}

h3{
  font-family: 'Abril Fatface';
  font-size: 26px;
  font-weight: 590;
  letter-spacing: 1.5px;
  color:#000000;
}

h4{
  font-family: 'Montserrat';
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 0.8px;
  color:#0048EE;
}

p{
  font-family: 'Montserrat';
  font-size: 18px;
  color:#000000;
  letter-spacing: 1.5;
}

ul{
  color:#112970;
}


* {
  box-sizing: border-box;
}

.boldText{
    font-weight: bold;
}

/*--------------section-------------------------*/
.sectionBlock {
  margin:2vw auto 0 auto;
  width:80%;
}

@media screen and (max-width: 600px) {
  .sectionBlock {
    margin:60px auto 0 auto;
  }
}

/*--------------columRow-------------------------*/
.columRow{
  display: flex;
  flex-direction: row;
  text-align: left; 
  width:100%; 
  height:auto; 
  margin:0 auto 0 auto;
  padding:0 auto 0 auto;
}
@media screen and (max-width: 600px) {
  .columRow{
    width:100%;
    flex-direction: column;
  }
}

.columChildren1{
  width:37.5vw; 
  margin-right: 3.75vw;
}

@media screen and (max-width: 600px) {
  .columChildren1{
    width:100%; 
    margin: auto;
  }
}

.columChildren2{
  width:47vw;
}

@media screen and (max-width: 600px) {
  .columChildren2{
    width:100%;
  }
}

.columChildren3{
  width:45vw; margin-right: 3.75vw;
}

@media screen and (max-width: 600px) {
  .columChildren3{
    width:100%;
  }
}

.columChildren4{
  width:30%; 
  margin:2vw;
}

@media screen and (max-width: 600px) {
  .columChildren4{
    width:100%;
  }
}


/*--------------Animation-------------------------*/
@keyframes topHifiGo {
  0%   {top:50vw;opacity:0;}
  100% {top:22vw;opacity:1;}
}

.topHifi1{
  display: flex; 
  opacity:0;
  flex-direction: row; 
  width:100%; 
  height:auto; 
  margin:auto; 
  position:absolute; 
  top:50vw; 
  margin:auto;
  animation-name:topHifiGo;
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes topBG{
  0%   {opacity:0;}
  100% {opacity:1;}
}





